Guitar_model/Armand_modphy/*
Data/1ier_data_set/*
*.zip
*.pyc
*.wav
*.pickle
*.mat
Classification/A000_SVM/runs
Classification/A000_SVM/Data

Classification/B000_Deep/runs
*Test.py
*copy.py
Classification/_dataset_/Dataset